*{
    padding: 0;
    margin: 0;
}
body{
    background:  #cde0f0;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.welcome{
    padding: 10px;
    box-shadow:0 10px 25px rgba(231, 130, 130, 0.15);
    border: 2px solid white;
    border-radius: 15% 5%;
    width: 70%;
    height:40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background-color: rgb(143, 194, 238);
}

#signform{
    padding: 10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    border: 2px solid white;
    border-radius: 15% 5%;
    width: 60%;
    height: 70vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(143, 194, 238);
    display: none;
}
#login{
    transition: 2s linear;
    padding: 10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    border: 2px solid white;
    border-radius: 5% 15%;
    width: 70%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(190, 146, 216);
   display: none;
}

.btns{
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 10px;
}
.btns button{
    width:40%;
    height: 30px;
    background-color: #80a4c2;
    border-radius: 15% ;
}
h2{
    text-align: center;
    width: 100%;
    font-size: 15px;
}
.gen{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.boxs{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#submit,#submitin,.back{
    width: 100%;
    height: 10%;
    background-color: rgb(233, 237, 240);
    border-radius: 15px ; 
    margin: 3px;
}
button{
    border:none;
}
#username , #mail,#userin{
    padding: 10px;
    width: 85%;
    height: 25px;
    margin: 3px;
    border:none;
    border-radius: 15px ;
}
#passw ,#conf_pass,#passin{
    padding: 10px;
    width: 70%;
    height: 20px;
    margin: 3px;
    border:none;
    border-radius: 15px ;
}
label{
    font-size: 12px;
    text-align: left;
    text-overflow: clip;
}
input:focus{
    transform: scale(1.1);
    background-color: rgb(198, 214, 228);
    color: rgb(28, 107, 177);
}

button:hover{
cursor: pointer;
color: beige;
background-color: rgb(171, 194, 214);
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.ps {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 40px;
    margin: 3px;
    border:none;
    border-radius: 15px ;
    padding: 2px ;
}
.psin{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 40px;
    margin: 3px;
    border:none;
    border-radius: 15px ;
    padding: 2px ;
}
#usererror,#usererror2{
    color:red;
    display: none;
}
